*
!atom/
!.bashrc
!cvimrc
!daskeyboardinit.sh
!devserver*
!devserver/irssi_conf
!devserver/znc.conf
!.emacs
!*.el
!.gdbinit
!.gitignore
!.gitconfig
!.hgrc
!i3config
!.inputrc
!my_configs.vim
!Pok3r*
!.profile
!.tmux.conf
!*.txt
!.vim*
!.vim/colors/*
!.vim_runtime/my_configs.vim
!.zsh*
!vscode/*
!vscode/settings.json
*~
